@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

body{
	line-height:1.3em;
	font-family: "Kosugi Maru", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo UI", "Meiryo", "Helvetica Neue", arial, sans-serif;
	font-size: 16px;
}

h2{
	font-size: 20px;
	margin: 0.1em 1em 1em 0.1em;
}

.wrapper {
	display: grid; 
	grid-template-columns: repeat(7, 120px);
	grid-auto-rows: 80px;
	margin: 0 auto; 
}

.wrapper > div {
	border: 2px solid #adadb3;
	border-radius: 5px;
	padding: 0.1em 1em 1em 0.2em;
}

.week {
	display: grid; 
	grid-template-columns: repeat(7, 120px);
	grid-auto-rows: 30px;
	margin: 0 auto; 
}

.week > div {
	border: 2px solid #adadb3;
	border-radius: 5px;
	padding: 0.1em 1em 1em 0.2em;
}