@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");

body {
  line-height: 1.3em;
  font-family: "Kosugi Maru", arial, sans-serif;
  font-size: 16px;
  margin: 12px;
}

select {
  font-family: "Kosugi Maru", arial, sans-serif;
  font-size: 16px;
}

input {
  font-family: "Kosugi Maru", arial, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 20px;
  margin: 0.1em 1em 1em 0.1em;
  border-style: solid;
  padding: 0.1em 0 0.1em 0.5em;
  margin: 1em 0 0.1em 0;
  border-width: 0 0 1px 10px;
  border-color: #000;
}

#form_display{
  margin:0.3em;
  padding:0.3em;
}

#formid {
  padding: 0.5em;
}

.grid{
display: grid;
  grid-template-areas:
    "grid1 grid2"
    "grid3 grid4";
  grid-template-columns: min-content min-content;
  margin:0.3em;
  padding:0.3em;
}

.grid1{
grid-area: grid1;

}

.grid2{
grid-area: grid2;
background: #FAFAFA;
}

.grid3{
grid-area: grid3;
background: #FAFAFA;
}

.grid4{
grid-area: grid4;
}
