$font-stack: "Kosugi Maru", arial, sans-serif;

$base-color: #bec8da;
$base-lightcolor:lighten($base-color, 10%);
$base-descolor:desaturate($base-color, 25%);

@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");

@media (prefers-reduced-motion: no-preference) {
	html:focus-within {
		scroll-behavior: smooth;
	}
}

body {
	line-height: 1.3em;
	font-family: $font-stack;
	font-size: 12px;
	margin: 12px;
}

select {
	font-family: $font-stack;
}

h1 {
	font-size: 20px;
	margin: 0.1em 1em 1em 0.1em;
	border-style: solid;
	padding: 0.1em 0 0.1em 0.5em;
	margin: 1em 0 0.1em 0;
	border-width: 0 0 1px 10px;
	border-color: #000;
}

h2 {
	font-size: 16px;
	margin: 0.1em 1em 1em 0.1em;
	border-style: solid;
	padding: 0.1em 0 0.1em 0.5em;
	margin: 1em 0px 0.1em 0;
	border-width: 0 0 1px 7px;
	border-color: #000;
}

ul {
	padding-left: 2rem;
}

li{
	font-size: 16px;
	margin:1rem 0 1rem 0;
}

table {
	margin: 1em 0 1em 0;
	border: 1px solid #000;
	
	tr:nth-child(even) {
		background-color: $base-lightcolor;
	}

	th {
		background-color: $base-color;
		text-align: center;
		border: 1px solid $base-descolor;
	}

	td {
		border: 1px solid $base-descolor;
	}
}

.socialWrap {
	padding: 0.5em;
}

.gouseitab {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding:10px;
	background-color: $base-color;
	border-top: 1px solid $base-color;
	border-right: 1px solid $base-color;
	border-left: 1px solid $base-color;
	margin: 0 0 0 5px;
	font-weight: bold;
	font-size: 16px;
}

.gousei{
	border: 1px solid $base-color;
	padding:10px;
	margin: 0 0 0 5px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.form{
	padding:0.5em;
}

/* 上に戻るボタン */

#gotop{
	display: block;
	position: fixed;
	opacity: 0.4;
	bottom:4em;
	right:0.5em;
	z-index: 10;
	transition: 0.8s;

	a{
	text-decoration:none;
	}

	&:hover{
		opacity: 0.8;
		transition: 0.8s;
	}
}