@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

body{
	line-height:1.3em;
	font-family: "Kosugi Maru", arial, sans-serif;
	font-size: 16px;
}

.textstyle{
	line-height: 1.5;
	width:8rem;
	font-size: 2rem;
	font-family: "Kosugi Maru", arial, sans-serif;
}

.endstyle{
	font-size: 1.5rem;
	padding: 1em;
}

.buttonstyle{
	font-family: "Kosugi Maru", arial, sans-serif;
	border: 0;
	line-height: 2.5;
	padding: 0 20px;
	font-size: 1rem;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 10px;
	background-color: rgba(83, 102, 117, 1);
	background-image: linear-gradient(
		to top left,
		rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0.2) 30%,
		rgba(0, 0, 0, 0)
	);
	box-shadow:
		inset 2px 2px 3px rgba(255, 255, 255, 0.6),
		inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.buttonstyle:hover {
	background-color: rgba(54, 74, 89, 1);
}

.buttonstyle:active {
	box-shadow:
		inset -2px -2px 3px rgba(255, 255, 255, 0.6),
		inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
