$font-stack: "Kosugi Maru", arial, sans-serif;
$base-color: #6996aa;
$push-color: #697ab3;

@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

body{
	line-height:1.3em;
	font-family: $font-stack;
	font-size: 16px;
}

h1{
	font-size: 20px;
	margin: 0.1em 1em 1em 0.1em;
	border-style:solid;
	padding: 0.1em 0 0.1em 0.5em;
	margin: 1em 0px 0.1em 0;
	border-width:0 0 1px 10px;
	border-color:#000;
}

.textstyle{
	line-height: 1.5;
	width:8rem;
	font-size: 2rem;
	font-family: $font-stack;
}

.endstyle{
	font-size: 1.5rem;
	padding: 1em;
}

button{
	font-family: $font-stack;
	border: 0;
	line-height: 2.2;
	padding: 0 20px;
	font-size: 1.4rem;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 10px;
	background-image: linear-gradient(
		to top left,
		rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0.2) 30%,
		rgba(0, 0, 0, 0)
	);
	box-shadow:
		inset 2px 2px 3px rgba(255, 255, 255, 0.6),
		inset -2px -2px 3px rgba(0, 0, 0, 0.6);
		
	&:active {
	box-shadow:
		inset -2px -2px 3px rgba(255, 255, 255, 0.6),
		inset 2px 2px 3px rgba(0, 0, 0, 0.6);
	}
}

.Startbuttonstyle{
	background-color: $base-color;
	&:hover {
		background-color: darken($base-color, 10%);
	}
}

.Stopbuttonstyle{
	background-color: $push-color;
	&:hover {
		background-color: darken($push-color, 10%);
	}
}